 <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline5">
                    <div class="timeline">
                        <div class="timeline-icon"><span class="year">2019</span></div>
                            <div class="timeline-content">
                                <h3 class="title">FREELANCE DEVELOPPEMENT WEB</h3>
                                <p class="description">
                                    bla bla bla je suis trop fort
                                </p>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-icon"><span class="year">2017</span></div>
                            <div class="timeline-content">
                                <h3 class="title">ÉTUDIANT À TELECOM SAINT ETIENNE</h3>
                                <p class="description">
                                    Triple diplome :
                                    <li>DU Cycle initial en Technologie de l'Information de Saint-Étienne</li>
                                    <li>DUT Génie Électrique et Informatique Industrielle</li>
                                    <li>Licence 2 de physique</li>
                                </p>

                                <p class='description'>
                                    J'ai pu developper mes compétences en :
                                    <li>Informatique</li>
                                    <li>Réseaux</li>
                                    <li>Électronique</li>
                                    <li>Traitement de l'image</li>
                                    <li>Gestion de projet</li>
                                </p>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-icon"><span class="year">2016</span></div>
                            <div class="timeline-content">
                                <h3 class="title">STAGE DE TECHNICIEN EN INFORMATIQUE - ASIS</h3>
                                <p class="description">
                                    Developpement d'un logiciel de maintenance de serveur.
                                    Exportation du projet sur Unix.
                                    Installation de la solution chez le client.
                                </p>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-icon"><span class="year">2015</span></div>
                            <div class="timeline-content">
                                <h3 class="title">Web Developer</h3>
                                <p class="description">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacinia mi ultrices, luctus nunc ut, commodo enim. Vivamus sem erat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <hr>