	<div class="jumbotron">
	  <div class="container">
	    <h1 class="display-4">Mes projets</h1>
	    <p class="lead">De ce que j'ai pu réaliser durant mes études, ma vie personelle ou professionnelle, voici les projets qui ont agrandit mon domaine de compétences.</p>
	  </div>
	</div>


<%= render 'pages/cards' %>